.contact-list li {
    margin: 15px;
}
.contact-list li span {
    font-size: 20px;
}
.contact-list li p {
    font-size: 20px;
}
.added-font{
    font-size: 18px;
}
.added-font li {
    margin-bottom: 10px;
}
.m-10{
    margin-top: 50px;
}
@media screen and (max-width: 769px) {
    .respon-custom{
        margin-top: 35px;
    
    }
    
}
@media screen and (max-width: 1041px) {
    .respon-custom-slider{
        margin-top: 60px;
    
    }
    
}
@media screen and (max-width: 411px) {
    .contact-list li span {
        font-size: 15px;
        font-style: bold;
    }
    .contact-list li p {
        font-size: 15px;
        font-style: bold;
    }
}
